body {
  font-family: sans-serif;
}

@font-face {
  font-family: "Highway Gothic";
  src: local("HighwayGothicWide"),
    url("/public/fonts/HighwayGothic/HWYGWDE.TTF") format("TTF");
}

@font-face {
  font-family: "Clearview";
  src: local("Clearview"),
    url("/public/fonts/Clearview/CLEARVIEW.TTF") format("TTF");
}
